.all-services{
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.all-services h1{
    margin:50px;
    padding: 10px;
    border-bottom:1px solid silver;
}

.service-item{
        display: grid;
        grid-template-columns: 40% auto;
        align-items: center;
        margin: 50px;
}

.all-services h2{
    margin-bottom:100px;
}

.service-item img {
    display: block;
    margin: 0 auto; 
    width:50%;
    border-radius: 10px;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in;
  }
  
  .fade-in.loaded {
    opacity: 1;
  }

  /* site responsiveness ---------------------------------------------------

Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) {
    .all-services{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
     }
     
     .all-services h1{
         margin:20px;
         padding: 10px;
         border-bottom:1px solid silver;
         font-size: 18px;
         text-align: center; 
     }

     .all-services h2{
        font-size: 15px;
        text-align: center;
     }

     .all-services h5{
        font-size: 15px;
     }
     
     .service-item{
             display: grid;
             grid-template-columns: auto;
             align-items: center;
             margin: 20px;
             font-size: 12px;
     }

     .service-item img {
        display: block;
        margin: 0 auto; 
        width: 50%;
        border-radius: 10px;
    }
 
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
    .all-services{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
     }
     
     .all-services h1{
         margin:20px;
         padding: 10px;
         border-bottom:1px solid silver;
         font-size: 20px;
     }

     .all-services h2{
        font-size: 18px;
        text-align: center;
     }

     .all-services h5{
        font-size: 18px;
     }
     
     .service-item{
             display: grid;
             grid-template-columns: auto;
             align-items: center;
             margin: 20px;
             font-size: 15px;
     }

     .service-item img {
        display: block;
        margin: 0 auto; 
        width: 30%;
        border-radius: 10px;
    }

    }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:768px) and (max-width:991px){
    .all-services{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
     }
     
     .all-services h1{
         margin:20px;
         padding: 10px;
         border-bottom:1px solid silver;
         font-size: 25px;
     }

     .all-services h2{
        font-size: 18px;
        text-align: center;
     }

     .all-services h5{
        font-size: 18px;
     }
     
     .service-item{
             display: grid;
             grid-template-columns: auto;
             align-items: center;
             margin: 20px;
             font-size: 15px;
     }

     .service-item img {
        display: block;
        margin: 0 auto; 
        width:25%;
        border-radius: 10px;
    }
    
 
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:992px) and (max-width:1200px){
    .all-services{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
     }
     
     .all-services h1{
         margin:20px;
         padding: 10px;
         border-bottom:1px solid silver;
         font-size: 25px;
     }

     .all-services h2{
        font-size: 18px;
        text-align: center;
     }

     .all-services h5{
        font-size: 18px;
     }
     
     .service-item{
             display: grid;
             grid-template-columns: auto;
             align-items: center;
             margin: 20px;
             font-size: 15px;
     }

     .service-item img {
        display: block;
        margin: 0 auto; 
        width:25%;
        border-radius: 10px;
    }
} 