body{
    padding: 30px;
}

.layout {
  display: flex;
  gap: 16px;
}

body {
    font-family: 'Bodoni Moda', sans-serif;
  }

.featured-services{
padding: 100px;
display: flex;
flex-direction: row;
}

.featured-services-header{
margin-right: 250px;
}

.featured-services-header h1{
margin-bottom: 20px;
}

.services-options{
  width: 80%;
  padding: 20px;
}

.services-options h3{
  border-top: 1px solid lightgrey;
}

.services-options p {
  font-size: 15px;
  padding-left: 20px;
  padding-top: 10px;
}

.serviceBtn{
  border: none;
  background-color: white;
  float: right;
}

.none{
  display: none;
}

.mx-2{
font-size: 15px;
}

.about-us-container{
display: flex;
flex-direction: row;
}

.about-us-header{
margin-top:50px;
font-size:50px;
}

/* .about-us-header{
font-size:50px;
} */

.aboutus-img1{
margin-top:400px;
margin-left:400px;
}

.aboutus-img1 img{
width: 80%;
} 

.aboutus-sec2{
margin-top:150px;
margin: 50px;
}

.aboutus-sec2 img{
width: 80%;
margin: 50px;
}

.our-services-container{
margin: 150px;
}

.our-services-container h1{
text-align: center;
margin: 80px;
}

#ourservices{
display: grid;
grid-template-columns: auto auto auto;
text-align: center;
}

.service-link {
transition: transform 0.3s ease-in-out;
}

.service-link h3{
margin-top:30px;
}

.service-link:hover {
transform: scale(1.05);
}
.service-link img{
transition: transform 0.3s;
width: 50%;
border-radius: 50%;
}

.service-link:hover img{
transform: scale(1.1);
}

.custom-hover:hover {
background-color: #333;
color: white;
border-color: transparent;
font-size: 15px;
}

.browse-service-link{
    padding: 100px;
    text-align: center;
}


  /* site responsiveness ---------------------------------------------------

/* Extra small devices (phones, 767px and down) */
@media only screen and (max-width: 767px){
  .featured-services{
    padding: 30px;
    display: flex;
    flex-direction: column;
    }

    .featured-services-header{
      text-align: center;
      width: 100%;
    }
    
    .services-options{
      width: 50%;
      padding: 20px;
      padding-top: 50px;
      width: 100%;
    }

    .our-services-container{
      margin: 0;
    }
    
    .our-services-container h1{
    text-align: center;
    margin: 50px;
    }
    
    .service-link h3{
      margin-top:10px;
      font-size: 20px;
      }
                                                                                                                                                    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:768px) and (max-width:991px){

  .featured-services{
    padding: 20px;
    }

  .featured-services-header{
    text-align: center;
    width: 20%;
  }
  
  .services-options{
    padding: 20px;
    padding-top: 50px;
    width: 80%;
  }

  .our-services-container{
    margin: 0;
  }
 
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width:992px) and (max-width:1200px){

} 