.custom-hover:hover {
    background-color: #333;
    color: white;
    border-color: transparent;
  }

 /* .bg-image {
    background-image: url('https://ded7t1cra1lh5.cloudfront.net/media/630558/ec909bc49d8e3d063b85500018ac6783371d9c84/original/spa_facial_treatment.jpg?1615518781');
    background-size: cover; 
    background-position: center center;
    height: 300px;
    background-attachment: fixed;
}  */
#headersec {
  width: 100%; 
  height: 400px; 
  background-image: url('https://ded7t1cra1lh5.cloudfront.net/media/630558/ec909bc49d8e3d063b85500018ac6783371d9c84/original/spa_facial_treatment.jpg?1615518781');
  background-size: cover; 
  background-position: center center;
  background-attachment: fixed;
}

.header-container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-in.loaded {
  opacity: 1;
}


@media only screen and (max-width: 414px){
  .header-des h1{
    font-size: 20px;
  }
  
  .header-des h3{
    font-size: 15px;
  }
  
  .header-des h5{
    font-size: 10px;
  }

  .custom-hover:hover {
    background-color: #333;
    color: white;
    border-color: transparent;
  }

  #headersec {
    width: 100%; 
    height: 300px; 
    background-image: url('https://ded7t1cra1lh5.cloudfront.net/media/630558/ec909bc49d8e3d063b85500018ac6783371d9c84/original/spa_facial_treatment.jpg?1615518781');
    background-size: cover; 
    background-position: center center;
    background-attachment: local;
  }

  .custom-hover {
    display: inline-block; 
    font-size: 10px; 
    padding: 5px 10px;
    max-width: 150px; 
    margin: 0 auto; 
    text-align: center; 
  }

                                                                                                                                                    
}


@media only screen and (min-width:415px) and (max-width:767px){
.mask h1{
  font-size: 25px;
}

.mask h3{
  font-size: 18px;
}

.mask h5{
  font-size: 14px;
}

}


@media only screen and (min-width:768px) and (max-width:991px){

  .mask h1{
    font-size: 30px;
  }
  
  .mask h3{
    font-size: 18px;
  }
  
  .mask h5{
    font-size: 15px;
  }
}
