.custom-hover:hover {
    background-color: #333;
    color: white;
    border-color: transparent;
  }

  .bg-image {
    background-image: url('https://img.freepik.com/free-photo/female-hands-manicure-concept_144627-42090.jpg?w=1480&t=st=1693602225~exp=1693602825~hmac=357bc85f6fb71d024d400ab65cd2848c510d12b1f679df0fa22e1920622a745d');
    background-size: cover; 
    background-position: center center;
    height: 500px;
}


  /* site responsiveness ---------------------------------------------------

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px){
  .mask h1{
    font-size: 30px;
  }
  
  .mask h3{
    font-size: 18px;
  }
  
  .mask h5{
    font-size: 15px;
  }

                                                                                                                                                    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width:601px) and (max-width:767px){
.mask h1{
  font-size: 25px;
}

.mask h3{
  font-size: 18px;
}

.mask h5{
  font-size: 14px;
}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width:768px) and (max-width:991px){

  .mask h1{
    font-size: 30px;
  }
  
  .mask h3{
    font-size: 18px;
  }
  
  .mask h5{
    font-size: 15px;
  }
}
