.location a {
  text-decoration: none;
  transition: text-decoration 0.3s ease;
  color: inherit; 
}

.location a:hover {
  text-decoration: underline; 
}

.business-info2{
  padding-left: 80px;
}


.business-hours p {
    text-align: center;
} 

.link {
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
    margin:0px 0px 50px 50px;
  }
  
  .link::after {
    content: '';
    position: absolute;
    bottom: -5px; 
    left: 0;
    width: 0;
    height: 2px;
    background-color: black; 
    transition: width 0.3s;
  }
  
  .link:hover {
    color: black; 
  }
  
  .link:hover::after {
    width: 100%;
  }

  .contact a{
    text-decoration: none;
    transition: text-decoration 0.3s ease;
    color: grey; 
}

.contact a:hover {
    text-decoration: underline; 
}

.footer-icon {
  font-size: 2rem; 
}

.aboutus-footer p{
  font-size:15px;
}

/* .aboutus-footer img {
  width: 100%;
  max-width: 100%;
  height: auto; 
} */

.map-responsive iframe {
  border: 0px;
  width: 150%; 
  height: 250px; 
}

 @media only screen and (max-width: 375px){
  /* .aboutus-footer img {
    width: 50%;
    max-width: 50%;
    height: auto; 
  } */

  .business-info2{
    padding-right: 80px;
  }

  .aboutus-footer p{
    font-size:10px;
  }

 .map-responsive iframe {
  border: 0px;
  width: 100%;
  height: 250px; 
}
                                                                                                                                            
 }  

@media only screen and (min-width: 376px) and (max-width:767px){

  .business-info2{
    padding-right: 80px;
  }

  .aboutus-footer img {
    width: 50%;
    max-width: 50%;
    height: auto; 
  }

  .aboutus-footer p{
    font-size:12px;
  }

   .map-responsive iframe {
    border: 0px;
    width: 80%;
    height: 250px; 
  }
 
}

@media only screen and (min-width:768px) and (max-width:992px){
  .business-info2{
    padding-left: 30px;
  }

.aboutus-footer h6{
  font-size: 10px;
}
.aboutus-footer p{
  font-size: 12px;
}

/* .aboutus-footer img {
  width: 100%;
  max-width: 100%;
  height: auto; 
} */

 .map-responsive iframe {
  border: 0px;
  width: 150%;
  height: 200px; 
}
}

